# Ignore data files
data/

# Ignore notebooks (for now)
notebooks/

# Ignore outputs
outputs/

# Ignore environment files
# green_industrial_policy
.Rhistory
.Rproj.user/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
